includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    excludePaths:
        - %rootDir%/../../../DependencyInjection/Configuration.php
        - %rootDir%/../../../Tests
        - %rootDir%/../../../vendor
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Cannot call method (log|debug|info|notice|warning|error|critical|alert|emergency)\(\) on Psr\\Log\\LoggerInterface\|null.#'