includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../Tests
        - %rootDir%/../../../vendor
        - %rootDir%/../../../DependencyInjection/Configuration.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - message: '/(GetResponseEvent|FilterResponseEvent|PostResponseEvent)/'
          path: %currentWorkingDirectory%/EventSubscriber/TracingEventSubscriber.php
